
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
}

.main-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.content-container {
    display: flex;
    flex: 1;
    gap: 20px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: var(--card-background);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    transition: background-color 0.3s, transform 0.3s;
    color: var(--text-color);
    position: relative;
    overflow: hidden;
    gap: 2px;
}

.card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    gap: 8px;
}

.card:hover {
    background-color: var(--card-hover);
    transform: translateY(-5px);
}

.card-content {
    padding: 10px;
    gap: 2px;
}

.card h3 {
    margin-top: 0;
    color: var(--secondary-color);
}

.card p {
    margin: 5px 0;
}

.sidebar-right {
    width: var(--sidebar-right-width);
    background-color: var(--card-background);
    padding: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: var(--text-color);
}

.sidebar-right .card ul {
    list-style-type: none; 
    padding: 0; 
}

.sidebar-right .card li {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.sidebar-right .card li img {
    width: 50px; 
    height: auto;
    border-radius: 50%; 
}

